body {
  font-family: 'Raleway', sans-serif;
  background: #adbccd;
}

/* nav bar */
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0f1225;
  /* fix nav bar at top */
  position: fixed;
  top: 0;
  width: 100%;
}

nav li {
  display: inline-block;
  font-size: 0;
  float: right;
}

/* styles the nav links */
nav a {
  display: inline-block;
  color: #afd1ea;
  text-align: center;
  padding: 15px 30px;
  text-decoration: none;
  font-size: 20px;
}

/* bold nav link color on hover */
nav a:hover {
  font-weight: bold;
  color: #f1ece6;
}

/* keep current nav link bold */
nav .active {
  font-weight: bold;
  color: #f1ece6;
}

/* keep text from shifting when bolded */
nav a:hover:before {
  display: block;
  content: attr(title);
  font-weight: bold;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
